:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-list-item {
  cursor: pointer;
  display: grid;
  padding: 0px;
  grid-template-columns: 2fr 1fr 10fr;
}

.hero-list-item:hover {
  background-color: #00000005;
}
.hero-list-item.active:hover {
  background-color: #aaaaff;
}

.hero-badge-item {
  text-align: center;
}
